build/*

# 実行ファイル・CPP_TK_PACKAGE_RUNTIME_SCRIPTSでコピーされるTcl/Tkランタイムスクリプト一式が
# 出力される場所(docs/tasks.md H節参照)
/bin/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
